body{
	/*background-image: url(../img/nin_bg.jpg);*/
	background-color: #121212;
	/*background-image: url(../img/back_bw.jpg)*/
	/*background-image: url(../img/17252.png);*/
}

#main_container{
	margin-top: 100px;
}
.title author, .title date{
	margin-right: 10px;
	float: right;
}

#main{
	/*margin-top:100px;*/
	margin-left:auto;
	margin-right:auto;
	width:900px;
	height:90%;	
}
#main .tab{
	margin-bottom: 20px;
}
#main .tab:last-child{
	margin-bottom: 0px;
}
#main .title{
	cursor: default;
	height: 27px;
	background-color:rgba(145,145,145,0.5);
	margin-left:auto;
	margin-right:auto;
}
#main date, author{
	font-family: "Courier New", Courier, monospace;
	font-family: Impact, Charcoal, sans-serif;
		font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;
	font-weight:lighter;
	color: #FFFFFF;
	opacity: 1;	
}
#main .title{
	text-align:left;
	padding-top:10px;
	padding-left:10px;
	font-family: "Courier New", Courier, monospace;
	font-family: Impact, Charcoal, sans-serif;
		font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;
	font-weight:lighter;
	color: #FFFFFF;
	box-shadow: 0px -3px 20px black;
	box-shadow: 0px -1px 10px black;
	border-radius: 5px;
}
#main .title:hover{
	/*color: #000000;*/	
}
#main .content {	
	padding: 0px 0;
	padding-bottom:30px;
	margin-bottom:0px;
	background-color:rgba(145,145,145,0.3);
	margin-left: 50px;
	box-shadow: 0px 6px 20px black;
	box-shadow: 0px 2px 10px black;
}
#main .content{
	margin-left:15px;
	padding-top:20px;
	padding-left:20px;
		font-family: "Courier New", Courier, monospace;
			font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;
	color: #919191;
	
}

#main .content li{
	margin-top: 10px;
}
#main .content p{
	margin-bottom: 30px;
}

#main .index1 .content{
	/*background-color:rgba(204,0,0,0.1);*/
		
}
#main .index1 .title{
	background-color:rgba(112,45,40,0.5);
}
#main .title:hover{
	background-color: rgba(145,145,145,1);
}
#main .index1 .title:hover{
	background-color:rgba(112,45,40,1);
}
#main .comments{
	margin-left: 15px;
}
#main .comments .title{
	background-color:rgba(145,145,145,0.5);
	height: 20px;
	margin-top: 5px;
}
#main .comments .title{
	padding: 2px;
	padding-left: 5px;
		font-size: 13px;
	padding-bottom: 0px;
	padding-top: 4px;

}
#main .comments .title:hover{
	background-color: rgba(145,145,145,1);
}

#main li{
	margin-left: 15px;
}
#main a{
	color:#FFF;
	/*text-decoration:none;*/
	text-decoration = underline;
	
}
#main b{
	font-size: 13px;
	color: #FFFFFF;
	font-weight: 900; 
}
img.main{
	width:auto;
}

#container #main div.tab.more_button{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
#container #main div.tab.more_button .title{
	text-align: center;
	padding-left: 0px;
	height: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}









