body{
	/*background-image: url(../img/nin_bg.jpg);*/
	background-color: #000000;
}
#main_div{
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	width:900px;
	height:90%;	
}
#main_div .entry{
	margin-bottom: 20px;
}
#main_div .title{
	cursor: default;
	height: 27px;
	background-color:rgba(145,145,145,0.5);
	margin-left:auto;
	margin-right:auto;
}
#main_div date, author{
	font-family: "Courier New", Courier, monospace;
	font-family: Impact, Charcoal, sans-serif;
		font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;
	font-weight:lighter;
	color: #FFFFFF;
	opacity: 1;	
}
#main_div .title_text{
	text-align:left;
	padding-top:6px;
	padding-left:10px;
	font-family: "Courier New", Courier, monospace;
	font-family: Impact, Charcoal, sans-serif;
		font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;
	font-weight:lighter;
	color: #FFFFFF;
	float: left;
}
#main_div .title_text:hover{
	/*color: #000000;*/	
}
#main_div .title_text_right{
	float: right;
	padding-right: 10px;
	padding-top: 4px;
}
#main_div .content {	
	padding: 0px 0;
	padding-bottom:30px;
	margin-bottom:0px;
	background-color:rgba(145,145,145,0.3);
	margin-left: 50px;
}
#main_div .content_text{
	margin-left:15px;
	padding-top:20px;
	padding-left:10px;
		font-family: "Courier New", Courier, monospace;
			font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;
	color: #919191;
	
}

#main_div .content_text li{
	margin-top: 10px;
}
#main_div .content_text p{
	margin-bottom: 30px;
}

#main_div .firstentry .content{
	/*background-color:rgba(204,0,0,0.1);*/
		
}
#main_div .firstentry .title{
	background-color:rgba(112,45,40,0.5);
}
#main_div .title:hover{
	background-color: rgba(145,145,145,1);
}
#main_div .firstentry .title:hover{
	background-color:rgba(112,45,40,1);
}
#main_div .comment{
	margin-left: 50px;
}
#main_div .comments .title_text{
	font-size: 13px;
	padding-bottom: 1px;
}
#main_div .comments .title_text_right{
	font-size: 13px;
	color: #FFFFFF;
}
#main_div .comments .title{
	background-color:rgba(145,145,145,0.5);
	height: 20px;
	margin-top: 5px;
}
#main_div .comments .title_text{
	padding: 2px;
	padding-left: 5px;
}
#main_div .comments .title_text_right{
	padding: 0px;
	padding-right: 5px;
	padding-top: 2px;
}
#main_div .comments .title:hover{
	background-color: rgba(145,145,145,1);
}
#main_div a{
	color:#FFF;
	/*text-decoration:none;*/
	text-decoration = underline;
	
}
#main_div b{
	font-size: 13px;
	color: #FFFFFF;
	font-weight: 900; 
}
img.main_div{
	width:auto;
}