#menu{
	position: fixed;
	top: 0px;
	/*background-color: #FFFFFF;*/
	/*background-image: url(../img/nin_bg.jpg);*/
	background-color: #080808;
	width: 100%;
	border-bottom: solid;
	border-bottom-color: rgba(112,45,40,0.5);
	border-bottom-width: 1px
}

#menu .link{
	float: left;
	margin-top: 7px;
}
#menu .link a{
	text-transform: lowercase;
	padding-left: 0px;
	font-variant: normal;
	font-size: 17px;
	margin-right: 10px;
}

#menu_content{
	margin-top:10px;
	width:900px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:0px;
	border-bottom: solid;
	border-bottom-color: rgba(112,45,40,0.5);
	/*background-color: rgba(112,45,40,0.5);*/

}
#menu ul
{
	height: 0px;
	position:relative;
	margin:auto;
	margin-left:0px;
	text-align: right;
	padding-bottom:9px;
	padding-right:0px;
}
#menu a:hover {
color: #FFF;
}
#menu li
{
	display: inline;
	padding-top:20px;
	padding-bottom: 0px;
	margin-right:0px;
	margin-left:0px;
	height:25px;
	/*background-image: url(../img/nin_bg.jpg);*/
	background-color: #080808;
}
#menu a {
	background-repeat: no-repeat;
	background-position: right;
	padding-top:0px;
	padding-bottom:0px;
	padding-right: 5px;
	padding-left: 32px;
	line-height: 25px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 25px;
	/*color: #702d28;*/
	color: rgb(112,45,40);
	/*color: rgb(110,20,13);*/
	/*color: #a40101;*/
	/*color: #FFFFFF;*/
	font-variant: small-caps;
	font-weight:bold;
}
a
{
outline: none;
}
.copy{
	visibility:hidden;
	width:0px;
	height:0px;
	padding-left:0px;
	padding-right:0px;
}