<?xml version="1.0" encoding="iso-8859-1"?>
<entry id="menu">
	<config>
			<css id="menulal">resources/css/menu.css</css>
			<align_horiz>#menu</align_horiz>
			<target>#menu</target>	
			<display entries="ShowAll"></display>
			<animation>disabled</animation>		
	</config>
	<content>
			<div class="link"><a target="_blank" href="https://github.com/m3l7">github</a></div>
			<div class="link"><a target="_blank" href="https://plus.google.com/u/0/110830573997605675189/posts">g+</a></div>
			<ul class="menu_ul">
			<li class="menu_li">
			<a class="menu_a" href="#!home_more">home</a>
			</li>
			<li class="menu_li">
			<a class="menu_a" href="#!projects">projects</a>
			</li>
			<li class="menu_li">
			<a class="menu_a" href='#!testphp'>testphp</a>
			</li>
			</ul>
	</content>
</entry>
