span.tool_title{
    color: orange;
}
span.tool_option_name{
    float: left;
}
ul.options{
    margin-left: 20px;
    margin-top: 10px;
}
ul.options > li{
    list-style-type: none;
}
ul.options div.options_input{
    margin-left: 200px;
    min-height: 20px;
}
input.action{
    float: left;
}